<div class="container">
  <div class="row" id="articles">
    <h5 id="saved">Your Saved Articles:</h5>
    {{#each article}}

    <article class="selection">
      <h5 class="articleHead">{{title}}</h5>
      <h5 class="pubDate"> Publication Date: {{date}}</h5>
      <h5>Section: {{section}}</h5>
      <a href="{{link}}" class="website">{{link}}</a>
    </article>

    {{/each}}

  </div>
</div>